@font-face {
    font-family: 'Caros Thin';
    font-style: normal;
    font-weight: normal;
    src: url("../../fonts/cretype_Caros_Thin.woff") format("woff");
}

@font-face {
    font-family: 'Caros Bold';
    font-style: normal;
    font-weight: normal;
    src: url("../../fonts/cretype_Caros_Bold.woff") format("woff");
}

.profile {
    position: relative;
    background-color: #8184D2;
    height: 880px;
    width: 550px;
    border-radius: 17px;
    color: white;
    padding: 2rem;
}

@keyframes breathe {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.04);
    }

    100% {
        transform: scale(1);
    }
}

.Dp {
    margin-left: 7rem;
    margin-top: 1rem;
    animation: breathe 3s infinite alternate ease-in-out;
}

.DpFace {
    position: absolute;
    top: 2rem;
    right: 1rem;
    transition: transform 0.3s ease-in-out;
}

.line-1 {
    font-size: 36px;
    font-weight: 300;
    font-family: 'Caros Thin';
    margin-top: 2rem;
}

.line-2 {
    font-size: 53px;
    font-weight: 300;
    font-family: 'Caros Bold';
    margin-top: 2rem;
}

.line-3 {
    font-size: 36px;
    font-weight: 300;
    margin-top: 3rem;
}

.line-4 {
    font-size: 36px;
    font-weight: 300;
}

.footer-1 {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 25px;
    margin-top: 5rem;
}

.footer-1 img {
    margin-right: 0.7rem;
}

.footer-2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 25px;
    margin-top: -3rem;
    margin-right: 3rem;
}

.footer-2 img {
    margin-right: 1rem;
}