.Contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 6rem 5rem 0rem 5rem;   
}

.Contact {
    max-width: 1920px;
}

.Contact-Sep {
    display: flex;
    align-items: center;
}

.Contact-Sep img {
    object-fit: contain;
}

.Footer {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

@media (max-width: 1450px) {
    .Contact-Sep img {
        width: auto;
        height: 700px;
    }
}

@media (max-width: 1400px) {
    .Contact-Sep img {
        display: none;
    }
}

@media (max-width: 400px) {
    .Contact-container {
        padding: 6rem 0 0 0;
    }
}