.Skill-box {
    background-color: #080027;
    border-radius: 17px;
    height: 320px;
    color: white;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Header {
    flex: 0;
    margin-right: 230px;
    margin-top: 20px;
    margin-left: 20px;
}

.Skill-Icon {
    flex: 6;
    height: 80px;
    width: 80px;
}

.Skill-Name {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1500px) {
    .Skill-box {
        font-size: 20px;
        width: 200px;
    }

    .Header {
        margin-right: 0;
        margin-left: 0;
    }
}

@media (max-width: 400px) {
    .Skill-box {
        font-size: 25px;
        width: 330px;
    }

    .Header {
        margin-right: 230px;
        margin-left: 20px;
    }
}