.Project-box {
    background-color: #ffc266;
    border-radius: 17px;
    height: 320px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Project-text-container {
    flex: 2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.6rem;
}

.Project-img {
    flex: 4;
    height: 100%;
    width: 100%;
    align-self: center;
}

.Project-Image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0 17px 17px 0;
}

.Project-Num {
    flex: 1;
    margin-top: 20px;
    font-weight: bold;
}

.Project-details {
    flex: 1;
}

.Project-Date {
    flex: 0;
    margin-bottom: 10px;
    margin-left: 130px;
}