.label {
    height: 193px;
    width: 1164px;
}

.label .text-wrapper {
    position: absolute;
    color: #070027;
    font-family: "Caros-Bold", Helvetica;
    font-size: 168px;
    font-weight: 700;
    height: 193px;
    right: 4rem;
    letter-spacing: 55.44px;
    line-height: normal;
    text-align: center;
    top: 9rem;
    white-space: nowrap;
    width: 1164px;
}

.label-head {
    height: 58px;
    width: 58px;
}

.label-head .label-shape {
    border-color: #070027;
    border-right-style: solid;
    border-right-width: 15px;
    border-top-style: solid;
    border-top-width: 15px;
    height: 58px;
    right: 4rem;
    position: absolute;
    top: 10rem;
    width: 58px;
}