.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 5rem 16px 5rem;
}

.small-Profile {
    display: none;
}

.grid-container {
    max-width: 1920px;
    height: 916px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: row;
    gap: 20px 20px;
    grid-template-areas:
        "Profile Portfolio Portfolio"
        "Profile Portfolio Portfolio"
        "Profile Portfolio Portfolio";
}

.Profile {
    grid-area: Profile;
}

.Portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.6fr 2.2fr 0.2fr;
    gap: 20px 3rem;
    grid-template-areas:
        "Heading Heading Heading"
        "Projects Projects Skills"
        "Bottom Bottom Bottom";
    grid-area: Portfolio;
}

.Heading {
    grid-area: Heading;
}

.Projects {
    grid-area: Projects;
}

.Skills {
    grid-area: Skills;
    overflow: hidden;
}

.Bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 3rem;
    grid-template-areas:
        "Exp Act";
    grid-area: Bottom;
}

.Exp {
    grid-area: Exp;
}

.Activity {
    grid-area: Act;
}

.Heading .text-wrapper {
    color: #070027;
    font-family: "Caros-Bold", Helvetica;
    font-size: 11rem;
    font-weight: 700;
    letter-spacing: 55px;
    line-height: normal;
    text-align: center;
}

@media (max-width: 1500px) {
    .Heading .text-wrapper {
        letter-spacing: 20px;
        font-size: 8rem;
    }
}

@media (max-width: 1400px) {
    .grid-container {
        display: none;
    }

    .small-Profile {
        display: block;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 3rem 0rem 0rem 0rem;
    }
}

@media (max-width: 430px) {
    .container {
        padding: 0;
    }

    .small-Profile {
        width: 400px;
    }
}